<!DOCTYPE html>
<html>
	<head>
		<title>Template</title>
		<meta charset="utf-8">
		<meta name='description' content='Template for express/ejs'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="/index.css">
		<script type="text/javascript" src='/lib/jquery-3.2.1.min.js'></script>
		<script type="text/javascript" src='/lib/p5.min.js'></script>
	</head>
	<body>
		<script type="text/javascript" src='/index.js'></script>
		<script type="text/javascript" src='/sketch.js'></script>
	</body>
</html>